.about-page {
    margin-top: 110px;
}

.about-page .vh-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background: url("/images/book-background.jpg");
    color: white;
}

.about-page .profile-picture {
    border-radius: 50%;
}


.fa-facebook-official {
    color: #4267b2;
}
.fa-twitter {
    color: #1da1f2;
}

.fa-google-plus-official {
    color: #d34836;
}

.fa-linkedin {
    color: #0077B5;
}