.homepage {
    margin-top: 120px;
}

.homepage-center {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.homepage a {
    text-decoration: none;
    color: black;
}

.homepage .image-container {
    height: 246px;
}

.homepage .homepage-image {
    max-height: 99%;
    width: auto;
    margin: auto;
    display: block;
}

.homepage .card {
    background: white;
    padding: 4px;
    box-shadow: 0px 5px 10px #EEE;
    margin-top: 1em;
}

.homepage .card-content {
    padding-left: 1.5em;
}

.homepage .card-content h5 {
    max-height: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.homepage .card:hover {
    box-shadow: 0px 10px 20px #EEE;
}

.homepage-book-card:hover {
    box-shadow: 0 0 0 gray;
}