<section class="container">
    <form ng-submit="addbukz()">
        <div class="row from-group">
            <div class="col-md-2">
                <img id="add-book-img-upload" class="img-responsive" src="/images/book-thumbnail.jpg" alt="book image"/>
                <progress class="progress-bar" value="0" max="100" id="uploader"></progress>
            </div>
                <div class="col-md-2 text-center">
                        <span class="btn btn-default btn-file add-book-upload-btn">
                            Upload Image <input ng-model="photo" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*">
                        </span>
                </div>
        </div>
        <br/>
        <div class="form-group">
            <label> Book Name : </label>
            <input class="form-control" type="text" ng-model="bookName" />
        </div>
        <div class="form-group">
            <label>Author : </label>
            <input class="form-control" type="text" ng-model="authorName" />
        </div>
        <div class="form-group">
            <label>Publication : </label>
            <input class="form-control" type="text" ng-model="publication" />
        </div>
        <div class="form-group">
            <label>Edition : </label>
            <input class="form-control" type="text" ng-model="edition" />
        </div>
        <div class="form-group">
            <label>Pages : </label>
            <input class="form-control" type="number" ng-model="pages" />
        </div>
        
        <div class="form-group">
            <label>Binding : </label>
            <select class="form-control" ng-model="binding">
                <option>Papaerback</option>
                <option>Hardcover</option>
            </select>
        </div>
        <div class="form-group">
            <label>ISBN : </label>
            <input class="form-control" type="number" ng-model="isbn" />
        </div>
        <div class="form-group">
            <label>Price : </label>
            <input class="form-control" type="number" min="0" ng-model="price" />
        </div>
        <div class="form-group">
            <label>Description : </label>
            <textarea class="form-control" rows="5" ng-model="descriptions"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" />
        <div ng-show="error" class="alert alert-danger add-book-alert"><strong>Caution : </strong> {{error}}</div>
    </form>
</section>