<section class="container">
    <form ng-submit="addbukz()">
        <div class="form-group">
            <img id="blah" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTyvAp_KUV3zi3Y2nheIOUyPuh-edegLE3dJ4DsRhHrbAEwF6e6" alt="your image" />
            <br>
            <progress value="0" max="100" id="uploader"></progress>
            <input ng-model="photo"
       onchange="angular.element(this).scope().file_changed(this)"
       type="file" accept="image/*" />
        </div>
        <div class="form-group">
            <label> Book Name : </label>
            <input class="form-control" type="text" ng-model="bookName"/>
        </div>
        <div class="form-group">
            <label>Author Name : </label>
            <input class="form-control" type="text" ng-model="authorName" />
        </div>
        <div class="form-group">
            <label>publication : </label>
            <input class="form-control" type="text" ng-model="publication" />
        </div>
        <div class="form-group">
            <label>Edition : </label>
            <input class="form-control" type="text" ng-model="edition" />
        </div>
        <div class="form-group">
            <label>Price : </label>
            <input class="form-control" type="number" ng-model="price" />
        </div>
        <input type="submit" class="btn btn-primary" />
        <div ng-show="error" class="alert alert-danger"><strong>Caution : </strong> {{error}}</div>
    </form>
</section>