<section class="container manage-books-page">
            <div ng-show="books==''" class="alert alert-warning">
                <h4>
                    <strong>Oops!</strong> Nothing is here.
                </h4>
            </div>
    <div ng-repeat="book in books">
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <img style="max-width: 200px" ng-src="{{book.imageUrl}}" alt="Image for {{book.bookName}}" class="img-responsive" />
            </div>
            <div class="col-md-5 manage-books-detail">
                <h4><b>Title: </b>{{book.bookName}}</h4>
                <p><b>Author: </b>{{book.authorName}}</p>
                <p><b>Price: </b>₹{{book.price}}</p>
                <p><b>Edition: </b>{{book.edition}}</p>
                <p><b>Publication: </b>{{book.publication}}</p>
                <p><b>ISBN: </b>{{book.isbn}}</p>
                <p><b>Binding: </b>{{book.binding}}</p>
                <p>
                    <b>Description:</b> {{book.descriptions}}
                </p>
                <div class="manage-books-button-group">
                    <button class="btn btn-warning" ng-click="myPreBook(book.$id)" data-toggle="modal" data={{book.$id}} data-target="#editBook"> <span class="glyphicon glyphicon-pencil"></span> EDIT
                    </button>
                    <button class="btn btn-danger" data-toggle="modal" data={{book.$id}} data-target="#deleteBook" ng-click="deleteBook(book.$id)"><span class="glyphicon glyphicon-trash"></span> REMOVE 
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="modal fade" id="deleteBook" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Confirm</h3>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to delete ?</h4>
                    <p>The action can't be reversed, once you delete a book you can't recover it back.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="deleteBookConfirm()" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade edit-book-info-modal" id="editBook" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" style="background-color: white;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Edit your Book</h3>
            </div>

            <!-- Modal for edit book info -->
            <div class="modal-body" role="form">
                <form ng-submit="editBukz()">
                    <div class="row from-group">
                        <div class="col-md-4">
                            <img id="edit-book-img-upload" class="img-responsive" ng-src="{{bookPicture}}" alt="book image" />
                            <progress class="edit-book-progress-bar" value="0" max="100" id="uploader"></progress>
                        </div>
                        <div class="col-md-2 text-center edit-book">
                            <span class="btn btn-default edit-book-upload-btn">
                                Upload Image <input ng-model="photo" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*">
                            </span>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label> Book Name : </label>
                        <input class="form-control" type="text" ng-model="bookName" />
                    </div>
                    <div class="form-group">
                        <label>Author : </label>
                        <input class="form-control" type="text" ng-model="authorName" />
                    </div>
                    <div class="form-group">
                        <label>Publication : </label>
                        <input class="form-control" type="text" ng-model="publication" />
                    </div>
                    <div class="form-group">
                        <label>Edition : </label>
                        <input class="form-control" type="text" ng-model="edition" />
                    </div>
                    <div class="form-group">
                        <label>Pages : </label>
                        <input class="form-control" min="1" type="number" ng-model="pages"/>
                    </div>
                    <div class="form-group">
                        <label>Binding : </label>
                        <select class="form-control" ng-model="binding">
                            <option>Papaerback</option>
                            <option>Hardcover</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>ISBN : </label>
                        <input class="form-control" type="number" min="0" ng-model="isbn" max="9999999999" />
                    </div>
                    <div class="form-group">
                        <label>Price : </label>
                        <input class="form-control" type="number" min="0" ng-model="price"  />
                    </div>
                    <div class="form-group">
                        <label>Description : </label>
                        <textarea style="resize:none" class="form-control" rows="5" ng-model="descriptions" maxlength="1024"></textarea>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" ng-click="cancel()" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div ng-show="error" class="alert alert-danger"><strong>Caution : </strong> {{error}}</div>
                </form>
            </div>
        </div>
    </div>
</section>