<section class="about-page">
    <div class="vh-center">
        <div class="banner">
            <h1>
                <sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup>
                A Reader lives a thousand lives, before he dies.</h1>
            <h4 style="width: 80%;" class="text-right"> - George R.R. Martin</h4>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <br>
            <br>
            <div class="col-md-8">
                <p class="text-left">Let's face it : college textbooks are insanely expensive. And, at the end of the term, the bookstore gives
                    students virtually nothing back for their books. We believe in a better way for students to sell their
                    textbooks quickly, conveniently, and for a fair price. In spite of our substantial size and reach, we
                    remain grounded by our company's core values, which have guided us through the ups and downs of the bookselling
                    industry. Each and every employee's love of books drives us forward.</p>
                <p class="text-left">We save you time and money by searching every major catalog online, and letting you know which booksellers
                    are offering the best prices and selection. When you find a book you like, you can buy it directly from
                    the original seller; we never charge a markup.</p>
                <h3>MISSION</h3>
                <p class="text-left">Our mission is to be the world's best destination for readers, a place that fosters a culture of reading
                    and connects people with the books they'll love.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive pull-right" src="images/book_2.jpg" alt="Books" style="height: 400px">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <h2>
                    <p class="text-center">THE TEAM</p>
                </h2>
            </div>
        </div>
        <div class="team-section">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-responsive profile-picture" src="images/atul.jpg" alt="atul">
                    <h4>
                        <p>Atul Sharma</p>
                    </h4>
                    <h1><a href="https://www.facebook.com/theatsharma" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/theatsharma" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/100385871696349461908" target="_blank"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/theatsharma/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h1>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-responsive profile-picture" src="images/abhi.jpg" alt="abhimanyu">
                    <h4>
                        <p>Abhimanyu Singh Jaitawat</p>
                    </h4>
                    <h1><a href="https://www.facebook.com/abhimanyu.s.jaitawat" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/im_asjaitawat" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/u/0/102529946302044884684" target="_blank"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/abhisjaitawat/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h1>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-responsive profile-picture" src="images/lalit.jpg" alt="lalit" style="height: 262.5px; width: 262.5px">
                    <h4>
                        <p>Lalit Kishor Singh</p>
                    </h4>
                    <h1><a href="https://www.facebook.com/lalitkishorsingh.tanwar?fref=ts" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/105587350093837007716" target="_blank"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/lalitcoder/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3 text-center">
                    <img class="img-responsive profile-picture" src="images/rajat.jpg" alt="rajat">
                    <h4>
                        <p>Rajat Patwa</p>
                    </h4>
                    <h1><a href="https://www.facebook.com/razatx/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
                        <a href="https://in.linkedin.com/in/rajatpatwa/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h1>
                </div>
                <div class="col-md-3 text-center">
                    <img class="img-responsive profile-picture" src="images/ishan.jpg" alt="ishan">
                    <h4>
                        <p>Ishan Saxena</p>
                    </h4>
                    <h1><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/ishancoder/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h1>
                </div>
            </div>
        </div>
    </div>

    <footer class="row text-center">
        <p>All right reserved @theBukz pvt. ltd</p>
    </footer>
</section>