<section class="container homepage">
    <a href="#!/book/{{book.$id}}" ng-repeat="book in books | filter:searchText" class="card col-md-3">
        <div class="row">
            <div class="col-md-12 col-xs-6 image-container">
                <img ng-src="{{book.imageUrl}}" alt="Image for {{book.bookName}}" class="homepage-image" />
            </div>
            <div class="col-md-12 col-xs-6 card-content">
                <p>
                    <h5 style="text-overflow: ellipsis;"><b>{{book.bookName}}</b></h5>
                    <span> {{book.binding}}, {{book.authorName}}</span>
                </p>
                <h4>{{book.price | currency:"&#8377;"}}</h4>
            </div>
        </div>
    </a>
</section>